<div [@routerTransition]>
    <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                
            <div class="card mb-3">
                <div class="card-header">ORDER LIST</div>
                <div class="card-block table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Product Name</th>
                            <th>Product Price</th>
                            <th>Edit</th>
                            <th>Delete</th>    
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>MOMO</td>
                            <td>90</td>
                            <td>Edit</td>
                            <td>Delete</td>
                                                   
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Chowmein</td>
                            <td>90</td>
                            <td>Edit</td>
                            <td>Delete</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>200</td>
                             <td>Edit</td>
                            <td>Delete</td>
                           
                            
                        </tr>
                        </tbody>
                    </table>
                    
        </div>
    </div>
</div>
